*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arimo', sans-serif;
}
li,a{
    text-decoration: none;
    list-style: none;
}
/* ------ navigation bar ----- */
.navigation-content{
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    background-color: #252526;
    height: 60px;
}
.header h2{
    color:#edeade;
    margin-left: 250px;
}
.header{
    display: flex;
    align-items: center;
}
.nav-links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-links li a{
    color: #edeade;
    font-size: 15px;
}
.nav-links li a:hover{
    color: #e45465;
}
/* --------category------- */
.category{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 10%;
    margin:10px;
    overflow-x: auto;
}
.cat-items{
    display: flex;
    justify-content: center;
}
.cat-items span{
    display: flex;
    align-items: center;    
    font-size: 15px;
    border: 1px black;
    padding: 5px 12px 5px 12px;
    border-radius: 5px;
    background-color: #252526;
    color: white;
    font-weight: lighter;
}
.snaps-inline{
    scroll-snap-type: inline mandatory;
}
.snaps-inline > * {
    scroll-snap-align: start;
}