*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arimo', sans-serif;
}
li,a{
    text-decoration: none;
    list-style: none;
}
.navigation-content{
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    background-color: #252526;
    height: 60px;
}
.header h2{
    color:#edeade;
    margin-left: 250px;
}
.header{
    display: flex;
    align-items: center;
}
.nav-links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-links li a{
    color: #edeade;
    font-size: 15px;
}
.nav-links li a:hover{
    color: #e45465;
}

